<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/webquantica-grid.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/blog.css">
	<link rel="stylesheet" href="mobile.css">
	<link rel="stylesheet" href="icons/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="icons/icomoon/icons.css">


	<script src="js/jquery.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/webquantica-grid.js"></script>
</head>
<body>

	<header class="wq-header wq-header_vertical">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-logo">
					<a href="index.html">
						<figure>
							<img src="img/logo.svg" alt="">
						</figure>
					</a>
				</div>
				<div class="wq-contato">
					<div class="wq-flex">
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-mail"></span>
								<div class="wq-conteudo">
									<h3>E-mail</h3>
									<p>CONTATO@GCTR.COM</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-technology"></span>
								<div class="wq-conteudo">
									<h3>Telefone</h3>
									<p>62 3208-5853</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-whatsapp"></span>
								<div class="wq-conteudo">
									<h3>Whatsapp</h3>
									<p>62 99168-8025</p>
								</div>
							</div>
						</div>
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href=""><span class="icon-instagram"></span></a></li>
							<li><a href=""><span class="icon-facebook"></span></a></li>
							<li><a href=""><span class="icon-google-plus"></span></a></li>
							<li><a href=""><span class="icon-youtube"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wq-menu">
				<div class="wq-btn_menu">
					<hr>
					<hr>
					<hr>
				</div>
				<nav class="wq-menu-principal">
					<ul class="wq-lista-inline">
						<li><a href="index.html">Home</a></li>
						<li><a href="quem-somos.html">Quem somos</a></li>
						<li><a href="oque-fazemos.html">O que fazemos</a></li>
						<li><a href="customize.html">Customize</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contato.html">Contato</a></li>
					</ul>
				</nav>
				<a href="" class="wq-btn">Quero um orçamento</a>
			</div>
		</div>
	</header>
	
	<section class="wq-banner wq-banner-page">
			<figure>
				<img src="img/banner-3.jpg" alt="">
			</figure>
			<div class="wq-breadcrump">
				<div class="wq-container">
					<h1>BLOG</h1>
					<p><a href="">Home</a> / BLOG</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wq-01-blog">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_9 wq-box_cp-12f wq-box_cl-12f wq-box_tp-8">
					<div class="wq-padding">
						<div class="wq-conteudo">
							<figure><img src="img/blog-blog.jpg" alt=""></figure>
							<div class="wq-filter wq-flex">
								<p>16.10.2017 | por: cleriston</p>
								<p><a href=""><span class="icon-price-tags"></span> Trailer</a><a href=""> <span class="icon-bubble2"></span>Comentários</a></p>
							</div>
							<div class="wq-texto">
								<h2>Cras placerat tempus dui a ultricies</h2>
								<p>In sit amet semper nunc, et pulvinar neque. In tellus metus, lobortis eu dictum vel, aliquam at elit. Suspendisse potenti. Aliquam sed dui feugiat neque ultricies aliquet vitae sed mi.</p>
								<a href="blog-interno.html" class="wq-btn_01">Saiba mais</a>
							</div>
						</div>
						<div class="wq-conteudo">
							<figure><img src="img/blog-blog.jpg" alt=""></figure>
							<div class="wq-filter wq-flex">
								<p>16.10.2017 | por: cleriston</p>
								<p><a href=""><span class="icon-price-tags"></span> Trailer</a><a href=""> <span class="icon-bubble2"></span>Comentários</a></p>
							</div>
							<div class="wq-texto">
								<h2>Cras placerat tempus dui a ultricies</h2>
								<p>In sit amet semper nunc, et pulvinar neque. In tellus metus, lobortis eu dictum vel, aliquam at elit. Suspendisse potenti. Aliquam sed dui feugiat neque ultricies aliquet vitae sed mi.</p>
								<a href="blog-interno.html" class="wq-btn_01">Saiba mais</a>
							</div>
						</div>
						<ul class="wq-paginacao">
							<li><a href=""><span class="icon-chevron-left"></span></a></li>
							<li><a href="" class="active">1</a></li>
							<li><a href="">02</a></li>
							<li><a href="">03</a></li>
							<li><a href=""><span class="icon-chevron-right"></span></a></li>
						</ul>
					</div>

				</div>
				<aside class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4">
					<div class="wq-conteudo">
						<form action="">
							<input type="text" placeholder="Pesquisar...">
							<button><span class="icon-search"></span></button>
						</form>
					</div>
					<div class="wq-conteudo categorias">
						<h3>categorias</h3>
						<ul>
							<li><a href=""><span class="icon-price-tags"></span>Trailer</a></li>
							<li><a href=""><span class="icon-price-tags"></span>motorhome</a></li>
							<li><a href=""><span class="icon-price-tags"></span>container home</a></li>
							<li><a href=""><span class="icon-price-tags"></span>conteiner marítimo</a></li>
							<li><a href=""><span class="icon-price-tags"></span>carretinhas</a></li>
						</ul>
					</div>
					<div class="wq-conteudo leia-mais">
						<h3>Leia mais</h3>
						<div class="wq-mais">
							<figure>
								<img src="img/aside1.jpg" alt="">
							</figure>
							<p>16.10.2017 | por: cleriston</p>
							<h2><a href="">Cras placerat tempus dui a ultricies</a></h2>
						</div>
						<div class="wq-mais">
							<figure>
								<img src="img/aside1.jpg" alt="">
							</figure>
							<p>16.10.2017 | por: cleriston</p>
							<h2><a href="">Cras placerat tempus dui a ultricies</a></h2>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</section>
	
	<footer class="wq-footer">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-logo">
					<a href="index.html">
						<figure>
							<img src="img/logo.svg" alt="">
						</figure>
					</a>
				</div>
				<div class="wq-contato">
					<div class="wq-flex">
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-mail"></span>
								<div class="wq-conteudo">
									<h3>E-mail</h3>
									<p>CONTATO@GCTR.COM</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-technology"></span>
								<div class="wq-conteudo">
									<h3>Telefone</h3>
									<p>62 3208-5853</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-whatsapp"></span>
								<div class="wq-conteudo">
									<h3>Whatsapp</h3>
									<p>62 99168-8025</p>
								</div>
							</div>
						</div>
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href=""><span class="icon-instagram"></span></a></li>
							<li><a href=""><span class="icon-facebook"></span></a></li>
							<li><a href=""><span class="icon-google-plus"></span></a></li>
							<li><a href=""><span class="icon-youtube"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p>© CONPYRIGHT 2017 - GCTR - TODOS OS DIREITOS RESERVADOS</p>
					<p>DESENVOLVIDO POR <a href="" target="_blank">HARPIA PROPAGANDA</a></p>
				</div>
			</div>
		</div>
	</footer>
	
</body>
</html>