<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/webquantica-grid.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/servico.css">
	<link rel="stylesheet" href="mobile.css">
	<link rel="stylesheet" href="icons/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="icons/icomoon/icons.css">


	<script src="js/jquery.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/webquantica-grid.js"></script>
</head>
<body>
	
	<header class="wq-header wq-header_vertical">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-logo">
					<a href="index.html">
						<figure>
							<img src="img/logo.svg" alt="">
						</figure>
					</a>
				</div>
				<div class="wq-contato">
					<div class="wq-flex">
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-mail"></span>
								<div class="wq-conteudo">
									<h3>E-mail</h3>
									<p>CONTATO@GCTR.COM</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-technology"></span>
								<div class="wq-conteudo">
									<h3>Telefone</h3>
									<p>62 3208-5853</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-whatsapp"></span>
								<div class="wq-conteudo">
									<h3>Whatsapp</h3>
									<p>62 99168-8025</p>
								</div>
							</div>
						</div>
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href=""><span class="icon-instagram"></span></a></li>
							<li><a href=""><span class="icon-facebook"></span></a></li>
							<li><a href=""><span class="icon-google-plus"></span></a></li>
							<li><a href=""><span class="icon-youtube"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wq-menu">
				<div class="wq-btn_menu">
					<hr>
					<hr>
					<hr>
				</div>
				<nav class="wq-menu-principal">
					<ul class="wq-lista-inline">
						<li><a href="index.html">Home</a></li>
						<li><a href="quem-somos.html">Quem somos</a></li>
						<li><a href="oque-fazemos.html">O que fazemos</a></li>
						<li><a href="customize.html">Customize</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contato.html">Contato</a></li>
					</ul>
				</nav>
				<a href="" class="wq-btn">Quero um orçamento</a>
			</div>
		</div>
	</header>
	
	<section class="wq-banner wq-banner-page">
			<figure>
				<img src="img/banner-2.jpg" alt="">
			</figure>
			<div class="wq-breadcrump">
				<div class="wq-container">
					<h1>Oque fazemos</h1>
					<p><a href="">Home</a> / Oque fazemos</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wq-01-quem-somos">
		<div class="wq-container">
			<div class="wq-navbar">
				<div class="wq-flex">
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4 wq-box_tl-4">
						<ul class="wq-navbar_btns">
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="1">Categoria 1</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="1">
									<li class="wq-navbar_btn" data-item="1">Subcategoria 1</li>
									<li class="wq-navbar_btn" data-item="2">Subcategoria 2</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="2">Categoria 2</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="2">
									<li class="wq-navbar_btn" data-item="3">Subcategoria 3</li>
									<li class="wq-navbar_btn" data-item="4">Subcategoria 4</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="3">Categoria 3</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="3">
									<li class="wq-navbar_btn" data-item="5">Subcategoria 5</li>
									<li class="wq-navbar_btn" data-item="6">Subcategoria 6</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="4">Categoria 4</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="4">
									<li class="wq-navbar_btn" data-item="7">Subcategoria 7</li>
									<li class="wq-navbar_btn" data-item="8">Subcategoria 8</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="5">Categoria 5</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="5">
									<li class="wq-navbar_btn" data-item="9">Subcategoria 9</li>
									<li class="wq-navbar_btn" data-item="10">Subcategoria 10</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="6">Categoria 6</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="6">
									<li class="wq-navbar_btn" data-item="11">Subcategoria 11</li>
									<li class="wq-navbar_btn" data-item="12">Subcategoria 12</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="7">Categoria 7</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="7">
									<li class="wq-navbar_btn" data-item="13">Subcategoria 13</li>
									<li class="wq-navbar_btn" data-item="14">Subcategoria 14</li>
								</ul>
							</li>
							<li class="wq-acordeon">
								<span class="wq-acordeon_btn" data-acordeon="8">Categoria 8</span>
								<ul class="wq-acordeon_conteudo" data-acordeon="8">
									<li class="wq-navbar_btn" data-item="15">Subcategoria 15</li>
									<li class="wq-navbar_btn" data-item="16">Subcategoria 16</li>
								</ul>
							</li>
						</ul>
					</div>	
					<div class="wq-box_9 wq-box_cp-12f wq-box_tp-8 wq-box_tl-8 wq-box_cl-12f wq-navbar_conteudo">
						<div data-item="1">
							<figure>
								<img src="img/servico1.jpg" alt="">
							</figure>
							<h2>genesis teardrop</h2>
							<p>A linha Genesis TearDrop é uma linha de mini trailers voltada ao camping e exploração da natureza.</p>
							<p>Projetada para quem gosta de viajar com estilo e conforto, o Genesis TearDrop é leve, compacto e muito versátil; podendo ser rebocado para qualquer lugar sem maiores esforços, desgastando o minimo possível o seu veiculo.</p>
							<p>Tá esperando o que pra começar a se aventurar? Peça o seu hoje mesmo!</p>
							<a href="" class="wq-btn_01">pedir orçamento sem compromisso</a>
							<div class="wq-galeria">
								<div class="wq-flex">
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria1.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria2.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria3.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria4.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria5.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria6.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria7.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria8.jpg" alt="">
										</figure>
									</div>
									<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-6 wq-box_tl-6">
										<figure>
											<img src="img/galeria9.jpg" alt="">
										</figure>
									</div>
								</div>
							</div>
						</div>
						<div data-item="2">
								<h2>Cras placerat tempus dui a ultricies</h2>
								<p>Vivamus tincidunt neque in libero vehicula, ut tincidunt metus suscipit. Vivamus vitae libero ex. Maecenas vel leo scelerisque, lacinia libero in, mollis augue. Maecenas volutpat eu justo tincidunt imperdiet. Sed tincidunt, turpis nec luctus faucibus, urna ex vestibulum eros, ut vulputate orci magna ut purus. In arcu lacus, feugiat nec congue nec, interdum in quam. Duis sit amet tellus vel massa tincidunt aliquam. Nulla nec tempus ipsum, sed consectetur risus. Sed tristique, purus molestie ultricies consectetur, arcu leo tristique sapien, vel sagittis lectus ex eu nulla </p>
								<p>Nulla enim leo, ullamcorper ut justo at, commodo interdum 	nibh. Mauris consequat ut nibh egestas dictum. Suspendisse eleifend vestibulum est eu sollicitudin.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-logo">
					<a href="index.html">
						<figure>
							<img src="img/logo.svg" alt="">
						</figure>
					</a>
				</div>
				<div class="wq-contato">
					<div class="wq-flex">
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-mail"></span>
								<div class="wq-conteudo">
									<h3>E-mail</h3>
									<p>CONTATO@GCTR.COM</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-technology"></span>
								<div class="wq-conteudo">
									<h3>Telefone</h3>
									<p>62 3208-5853</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-whatsapp"></span>
								<div class="wq-conteudo">
									<h3>Whatsapp</h3>
									<p>62 99168-8025</p>
								</div>
							</div>
						</div>
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href=""><span class="icon-instagram"></span></a></li>
							<li><a href=""><span class="icon-facebook"></span></a></li>
							<li><a href=""><span class="icon-google-plus"></span></a></li>
							<li><a href=""><span class="icon-youtube"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p>© CONPYRIGHT 2017 - GCTR - TODOS OS DIREITOS RESERVADOS</p>
					<p>DESENVOLVIDO POR <a href="" target="_blank">HARPIA PROPAGANDA</a></p>
				</div>
			</div>
		</div>
	</footer>
	
</body>
</html>