<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/webquantica-grid.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/quem-somos.css">
	<link rel="stylesheet" href="mobile.css">
	<link rel="stylesheet" href="icons/flaticon/font/flaticon.css">
	<link rel="stylesheet" href="icons/icomoon/icons.css">


	<script src="js/jquery.js"></script>
	<script src="js/carousel.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/webquantica-grid.js"></script>
</head>
<body>
	
	<header class="wq-header wq-header_vertical">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-logo">
					<a href="index.html">
						<figure>
							<img src="img/logo.svg" alt="">
						</figure>
					</a>
				</div>
				<div class="wq-contato">
					<div class="wq-flex">
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-mail"></span>
								<div class="wq-conteudo">
									<h3>E-mail</h3>
									<p>CONTATO@GCTR.COM</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-technology"></span>
								<div class="wq-conteudo">
									<h3>Telefone</h3>
									<p>62 3208-5853</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-whatsapp"></span>
								<div class="wq-conteudo">
									<h3>Whatsapp</h3>
									<p>62 99168-8025</p>
								</div>
							</div>
						</div>
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href=""><span class="icon-instagram"></span></a></li>
							<li><a href=""><span class="icon-facebook"></span></a></li>
							<li><a href=""><span class="icon-google-plus"></span></a></li>
							<li><a href=""><span class="icon-youtube"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="wq-menu">
				<div class="wq-btn_menu">
					<hr>
					<hr>
					<hr>
				</div>
				<nav class="wq-menu-principal">
					<ul class="wq-lista-inline">
						<li><a href="index.html">Home</a></li>
						<li><a href="quem-somos.html">Quem somos</a></li>
						<li><a href="oque-fazemos.html">O que fazemos</a></li>
						<li><a href="customize.html">Customize</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contato.html">Contato</a></li>
					</ul>
				</nav>
				<a href="" class="wq-btn">Quero um orçamento</a>
			</div>
		</div>
	</header>

	<section class="wq-banner wq-banner-page">
			<figure>
				<img src="img/banner-2.jpg" alt="">
			</figure>
			<div class="wq-breadcrump">
				<div class="wq-container">
					<h1>QUEM SOMOS</h1>
					<p><a href="">Home</a> / Quem somos</p>
				</div>
			</div>
		</div>
	</section>
	<section class="wq-01-quem-somos">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
					<figure>
						<img src="img/quem-somos.jpg" alt="">
					</figure>
				</div>	
				<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
					<div>
						<h2>Cras placerat tempus dui a ultricies</h2>
						<p>Vivamus tincidunt neque in libero vehicula, ut tincidunt metus suscipit. Vivamus vitae libero ex. Maecenas vel leo scelerisque, lacinia libero in, mollis augue. Maecenas volutpat eu justo tincidunt imperdiet. Sed tincidunt, turpis nec luctus faucibus, urna ex vestibulum eros, ut vulputate orci magna ut purus. In arcu lacus, feugiat nec congue nec, interdum in quam. Duis sit amet tellus vel massa tincidunt aliquam. Nulla nec tempus ipsum, sed consectetur risus. Sed tristique, purus molestie ultricies consectetur, arcu leo tristique sapien, vel sagittis lectus ex eu nulla </p>
						<p>Nulla enim leo, ullamcorper ut justo at, commodo interdum nibh. Mauris consequat ut nibh egestas dictum. Suspendisse eleifend vestibulum est eu sollicitudin.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wq-02-quem-somos">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-box_4f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f ">
					<div class="wq-flex">
						<figure><img src="img/quem-somos-1.svg" alt=""></figure>
						<div class="wq-conteudo">
							<h2>130+</h2>
							<p>projetos concluídos</p>
						</div>
					</div>
				</div>
				<div class="wq-box_4f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f ">
					<div class="wq-flex">
						<figure><img src="img/quem-somos-2.svg" alt=""></figure>
						<div class="wq-conteudo">
							<h2>95+</h2>
							<p>clientes satisfeitos</p>
						</div>
					</div>
				</div>
				<div class="wq-box_4f wq-box_cp-12f wq-box_cl-6f wq-box_tp-6f ">
					<div class="wq-flex">
						<figure><img src="img/quem-somos-3.svg" alt=""></figure>
						<div class="wq-conteudo">
							<h2>5 anos</h2>
							<p>de experiência</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<section class="wq-03">
		<div class="wq-container">
			<div class="wq-titulo_1">
				<h2>O QUE NOSSOS CLIENTES FALAM SOBRE NÓS</h2>
			</div>
			<div class="owl-carousel wq-carousel_depoimentos">
				<div>
					<div class="wq-flex">
						<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f">
							<div class="wq-flex">
								<figure>
									<img src="img/avatar.png" alt="">
								</figure>
								<div class="wq-conteudo">
									<h2>Guilherme Rodrigues</h2>
									<p>Harpia Propaganda</p>
								</div>
							</div>
						</div>
						<div class="wq-box_8 wq-box_cp-12f wq-box_cl-12f">
							<div class="wq-texto">
								<p>“Aliquam tempor nulla varius est iaculis ultricies. Nunc non nisl enim. Sed fringilla erat vel nulla cursus commodo ut et nibh. Maecenas dictum mauris nec mi consectetur, eget maximus eros aliquam. Integer consectetur nec urna ac congue. Pellentesque sodales, felis sed luctus pellentesque, velit libero venenatis est, finibus dignissim tellus enim sed metus. Morbi ut luctus risus. Aliquam erat volutpat. Donec scelerisque mollis congue. Praesent dapibus ac dui id bibendum. Fusce vehicula aliquam lacus a porttitor. Sed sed vestibulum dui, id sollicitudin ante. Phasellus sed blandit nulla. Proin facilisis porttitor leo, vitae vehicula erat aliquet in.”</p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="wq-flex">
						<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f">
							<div class="wq-flex">
								<figure>
									<img src="img/avatar.png" alt="">
								</figure>
								<div class="wq-conteudo">
									<h2>Guilherme Rodrigues</h2>
									<p>Harpia Propaganda</p>
								</div>
							</div>
						</div>
						<div class="wq-box_8 wq-box_cp-12f wq-box_cl-12f">
							<div class="wq-texto">
								<p>“Aliquam tempor nulla varius est iaculis ultricies. Nunc non nisl enim. Sed fringilla erat vel nulla cursus commodo ut et nibh. Maecenas dictum mauris nec mi consectetur, eget maximus eros aliquam. Integer consectetur nec urna ac congue. Pellentesque sodales, felis sed luctus pellentesque, velit libero venenatis est, finibus dignissim tellus enim sed metus. Morbi ut luctus risus. Aliquam erat volutpat. Donec scelerisque mollis congue. Praesent dapibus ac dui id bibendum. Fusce vehicula aliquam lacus a porttitor. Sed sed vestibulum dui, id sollicitudin ante. Phasellus sed blandit nulla. Proin facilisis porttitor leo, vitae vehicula erat aliquet in.”</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="wq-footer">
		<div class="wq-container">
			<div class="wq-flex">
				<div class="wq-logo">
					<a href="index.html">
						<figure>
							<img src="img/logo.svg" alt="">
						</figure>
					</a>
				</div>
				<div class="wq-contato">
					<div class="wq-flex">
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-mail"></span>
								<div class="wq-conteudo">
									<h3>E-mail</h3>
									<p>CONTATO@GCTR.COM</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-technology"></span>
								<div class="wq-conteudo">
									<h3>Telefone</h3>
									<p>62 3208-5853</p>
								</div>
							</div>
						</div>
						<div class="wq-contato_box">
							<div class="wq-flex">
								<span class="flaticon-whatsapp"></span>
								<div class="wq-conteudo">
									<h3>Whatsapp</h3>
									<p>62 99168-8025</p>
								</div>
							</div>
						</div>
						<ul class="wq-midias-sociais wq-lista-inline">
							<li><a href=""><span class="icon-instagram"></span></a></li>
							<li><a href=""><span class="icon-facebook"></span></a></li>
							<li><a href=""><span class="icon-google-plus"></span></a></li>
							<li><a href=""><span class="icon-youtube"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="wq-copyright">
			<div class="wq-container">
				<div class="wq-flex">
					<p>© CONPYRIGHT 2017 - GCTR - TODOS OS DIREITOS RESERVADOS</p>
					<p>DESENVOLVIDO POR <a href="" target="_blank">HARPIA PROPAGANDA</a></p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>