@import url('https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900');

/*configuraçoes gerais*/
body{
	font-family: 'Mada', sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	letter-spacing: 0.075em;
}

ul li{margin-bottom: 10px;}

ul li a{transition: all linear .3s;color: #777;}

ul li a:hover{color: #555;}

p{
	font-size: 18px;
	line-height: 1.3;
	font-weight: 300;
}

h1,h2,h3,h4,h5{
	letter-spacing: 0.025em;
}

section{padding:40px 0;}

figure{
	display: flex!important;
	justify-content: center;
	align-items: center;
	overflow:hidden;
}
img{width: 100%;height: 100%;object-fit: cover;}


.wq-btn_01{
	display: inline-block;
	padding: 20px 20px;
	font-weight: bold;
	margin: 20px 0;
	border:none;
	color:#231f20;
	background-color: #ffc600;
	text-transform: uppercase;
	transition: all linear .3s;
}
.wq-btn_01:hover{
	color: #ffc600;
	border-color: #231f20;
	background-color: #231f20;
}

.wq-titulo_1 {
	max-width: 400px;
}
.wq-titulo_1 h2{
	color: #231f20;
	font-size: 38px;
	text-transform: uppercase;
	line-height: 1.3;
}
.wq-titulo_1 h2:after{
	content: '';
	display: block;
	width: 40px;
	margin: 1rem 0 3rem;
	height: 4px;
	background-color: #ffc600;
}

.wq-header .wq-menu-principal > ul > li:nth-child(1) a{
	color: #ffc600;
}
/*configuraçoes gerais*/

/*wq-header*/
.wq-header{
	padding: 45px 0;
}
.wq-header .wq-logo figure{
	width: 200px;
	/*height: 60px;*/
}
.wq-header > .wq-container > .wq-flex{
	margin-right: 0;
	margin-bottom: 3rem;
	align-items: center;
	margin-left: 0;
}
.wq-contato .wq-flex{
	justify-content: flex-start;
}
.wq-contato .wq-flex{
	margin-right: 0;
	margin-left: 0;
}
.wq-contato_box{margin: 0 15px;}
.wq-contato_box .wq-flex{align-items: center;}
.wq-contato_box .wq-flex span:before{
	font-size:30px;	
}
.wq-contato_box .wq-flex span{
	display: block;
	margin-right: 10px;
}
.wq-contato h3{
	text-transform: uppercase;
	font-size: 15px;
}
.wq-contato p{
	font-size: 15px;
	font-weight: 400;
}

.wq-contato ul.wq-midias-sociais{margin-left: 75px;}
.wq-contato ul.wq-midias-sociais li:hover{
	background-color: #ffc600;
}
.wq-contato ul.wq-midias-sociais li{
	background-color: #231f20;
	transition: all linear .3s;
	border-radius: 50%;
	color: #fff;
	padding: 5px;
	margin: 0 8px;
}
.wq-contato ul.wq-midias-sociais li:last-child{margin-right: 0px;}
.wq-contato ul.wq-midias-sociais li a{
	color: #fff;
	display: flex;
}

.wq-header .wq-menu-principal{
	background-color: #231f20;
	height: 70px;
	width:calc(100% - 275px);
}

.wq-header li.wq-dropdown ul{
	background-color:#231f20; 
}
.wq-header .wq-menu-principal ul.wq-lista-inline{
	align-items: center;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.wq-header .wq-menu-principal li a:hover{
	color: #ffc600;
}
.wq-header .wq-menu-principal > ul > li:nth-child(1):hover a{
	color: #ffc600;
}
.wq-header .wq-menu-principal li{
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	padding: 0 39px;
	margin-bottom: 0;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}
.wq-header .wq-menu-principal li:last-child:after{
	display: none;
}
.wq-header .wq-menu-principal li:after{
	width: 1px; height: 50px;
	display: block;
	right: 0;
	top: 0;
	bottom: 0;
	height: 30px;
	content: '';
	background-color: #393637;
	margin: auto 0;
	position: absolute;
}
.wq-header .wq-menu .wq-btn{
	background-color: #ffc600;
	color: #231f20;
	text-transform: uppercase;
	font-size: 15px;
	width: 250px;
	margin-left: 25px;
	height: 70px;
	font-weight: bold;
	text-align: center;
	display: flex;
	transition: all linear .3s;
	align-items: center;
	justify-content: center;
}
.wq-header .wq-menu .wq-btn:hover{
	background: #231f20;
	color: #ffc600;
}
.wq-header .wq-menu-principal li a,.wq-header .wq-menu-principal li{
	color: #fff;
	letter-spacing: 0px;
}
.wq-header .wq-menu{
	position: relative;
	z-index: 99;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: -5rem;
	display: flex;
}
/*wq-header*/
/*wq-banner*/
.wq-banner .owl-nav{
	position: relative;
	top: -380px;
	display: flex!important;
}
.wq-banner .owl-next{
	width: 30px;
	position: absolute;
	right: 30px;
	height: 30px;
	background-image: url(img/right.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.wq-banner .owl-prev{
	position: absolute;
	left: 30px;
	margin-right: 15px;
	width: 30px;
	height: 30px;
	background-image: url(img/left.svg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.wq-banner{padding: 0;overflow: hidden;}
.wq-banner figure{height: 675px;}
.wq-banner .wq-conteudo{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	justify-content: center;
	/*background-color: rgba(0,0,0,.5);*/
}
.wq-banner .wq-conteudo h2{
	letter-spacing: 2px;
	font-weight: 800;
	font-size: 37.35px;
	text-transform: uppercase;
}
.wq-banner .wq-conteudo p{
	font-size: 23px;
}
.wq-banner .wq-conteudo .wq-btn_01:hover{
	color: #ffc600;
}
.wq-banner .wq-conteudo .wq-btn_01{
	width: 305px;
	height: 60px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #231f20;
	font-weight: bold;
	font-size: 15px;
	margin: 2rem auto;
}
/*wq-banner*/
/*wq-01*/
.wq-01{
	background-color:#ffc600;
	height: 225px;
	padding: 0;
}
.wq-01 .wq-container{
	height: 100%;
}
.wq-01 .wq-conteudo{
	max-width: 860px;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.wq-01 .wq-conteudo h2{
	margin-bottom: 0;
	color: #231f20;
	font-size: 23px;
	text-transform: uppercase;
	font-weight: bold;

}

/*wq-01*/

/*wq-02*/
.wq-02{
	padding:90px 0 80px;
}

.wq-02 .wq-titulo_1{
	max-width: 430px;
}
.wq-02 .wq-flex{
	flex-wrap: wrap;
}
.wq-02 .wq-box_3f{
	text-align: center;
	min-height: 245px;
}
.wq-02 .wq-box_3f .wq-border{
	transition: all linear .3s;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
}
.wq-02 .wq-box_3f .wq-border:hover{
	background-color: #ffc600;
}
.wq-02 .wq-box_3f:nth-child(4) .wq-border,
.wq-02 .wq-box_3f:nth-child(8) .wq-border{border-right: 1px solid #e1e1e1;}
.wq-02 .wq-box_3f:nth-child(5) .wq-border,
.wq-02 .wq-box_3f:nth-child(6) .wq-border,
.wq-02 .wq-box_3f:nth-child(7) .wq-border,
.wq-02 .wq-box_3f:nth-child(8) .wq-border{border-bottom: 1px solid #e1e1e1;}

.wq-02  .wq-box_3f figure{
	width: 80px;
	margin: 0 auto;
}
.wq-02 .wq-box_3f figure img{
	width: 100%;
	height: 100%;
}
.wq-02  .wq-box_3f h2{
	margin-top: 20px;
	color: #231f20;
	text-transform: uppercase;
	font-size: 20px;
}
/*wq-02*/

/*wq-03*/
.wq-03{
	background: #ffc600;
	padding: 100px 0;
}
.wq-03 .wq-titulo_1{
	max-width: 500px;
	margin-bottom: 110px;
}
.wq-03 .wq-titulo_1 h2:after{
	background:#fff;
}

.wq-03 .wq-depoimentos_img{
	width: 420px;
	max-width: 100%;
}
.wq-03 .wq-depoimentos_img .wq-flex{
	align-items: center;	
}
.wq-03 .wq-depoimentos_img figure{
	width: 155px;
	height: 155px;
}
.wq-03 .wq-depoimentos_img figure img{
	width: 100%;
}
.wq-03 .wq-flex{
	margin-right: 0;
	margin-left: 0;
}

.wq-03 .wq-depoimentos_nome{
	padding-left: 22px;
}
.wq-03 .wq-depoimentos_texto{
	max-width: 100%;
	width: 680px;
	margin: 45px 0 0 auto;
}
.wq-03 .wq-depoimentos_texto p{
	font-size: 18px;
}

.wq-03 .owl-nav{
	position: absolute;
	top: -210px;
	right: 0;
	display: flex!important
}
.wq-03 .owl-nav div{
	width: 40px;
	height: 40px;
	background-size: 100%;
	filter: grayscale(100%)brightness(6);
	background-repeat: no-repeat;
}
.wq-03 .owl-next{
	background-image: url(img/right.svg);
}
.wq-03 .owl-prev{
	margin-right: 17px;
	background-image: url(img/left.svg);
}
/*wq-04*/
.wq-04{
	padding: 0;
}
.wq-04 .wq-flex{
	margin-right: 0;
	margin-left: 0;
}
.wq-04 .wq-overlay figure{
	max-height: 340px;
}
.wq-04 .wq-overlay{	
	position: relative;
}
.wq-04 .wq-overlay:hover .wq-conteudo{
	opacity: 1;
}
.wq-04 .wq-overlay:hover img{
	filter: grayscale(100%);
}
.wq-04 .wq-conteudo h2{
	color: #ffc600;
}
.wq-04 .wq-titulo_1 h2:after{
	background:#fff;
	margin-bottom: 0;
}
.wq-04 .wq-titulo_1 h2{
	color: #ffc600;
}
.wq-04 .wq-titulo{
	padding: 70px 0;
	background-color: #252525;
}
.wq-04 .wq-conteudo{
	width: 100%;
	opacity: 0;
	transition: all linear .3s;
	text-align: center;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
}
/*wq-04*/

/*wq-05*/
.wq-05 {padding: 85px 0 100px;}
.wq-05 .wq-titulo_1{
	max-width: 350px;
}
.wq-05 .wq-box_6 .wq-conteudo span{
	display: block;
	margin: 40px 0 17px;
	text-transform: uppercase;
	color: #ffc600;
	font-size: 20px;
}
.wq-05 .wq-box_6 .wq-conteudo h2{
	font-size: 26px;
	color: #231f20;
	text-transform: uppercase;
}
.wq-05 .wq-box_6 .wq-conteudo p{
	color:#252525;
}
.wq-05 .wq-box_6 a.wq-btn_01{
	padding: 20px 40px;
}
/*wq-05*/

/*wq-06*/
.wq-06{
	padding: 75px 0 60px;
	position: relative;
}
.wq-06:after{
	position: absolute;
	content: '';
	background-image: url(img/newsletter.jpg);
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}
.wq-06:before{
	position: absolute;
	content: '';
	background-color:#e1e1e1;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
}
.wq-06 .wq-container{
	position: relative;
	z-index: 3;
}
.wq-06 .wq-box_6 p{
	color: #fff;
	max-width: 490px;
	font-size: 21px;
}
.wq-06 .wq-box_6 .wq-titulo_1 h2{
	color: #ffc600;
}
.wq-06 .wq-box_6 .wq-titulo_1 h2:after{
	background:#fff;
}
.wq-06 .wq-box_6 form{
	padding-left: 55px;
}
.wq-06 .wq-box_6 form button{
	margin-top: 0;
	padding-left: 50px;
	padding-right: 50px;
}
.wq-06 .wq-box_6 form input{
	width: calc(100% - 70px);
	padding: 22px 35px;
	border: none;
	margin-bottom: 20px;
	font-size: 21px;
}










/*wq-footer*/
.wq-footer{
	background:#f7f8f9;
	padding: 45px 0 0;
}
.wq-footer > .wq-container > .wq-flex{
	margin-right: 0;
	padding-bottom: 45px;
	align-items: center;
	margin-left: 0;
}
.wq-footer .wq-logo figure{
	width: 200px;
}

.wq-footer ul.wq-midias-sociais li{padding: 7px;}
.wq-footer ul.wq-midias-sociais li a span:before{font-size: 20px}

.wq-copyright{
	padding: 35px 0;
	background-color: #000000;
}
.wq-footer .wq-copyright p a{
	color: #ffc600;
}
.wq-footer .wq-copyright p{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}
.wq-footer .wq-copyright .wq-flex{align-items: center;}
.wq-footer .wq-copyright img{width: 100%;filter: invert(100%);}
/*wq-footer*/

/*CONFIG TODAS AS PAG*/
.wq-banner-page{
	position: relative;
}
.wq-banner-page figure{
	height: 255px;
}
.wq-banner-page .wq-breadcrump h1{
	font-size: 38px;
}
.wq-banner-page .wq-breadcrump{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: #fff;
    justify-content: center;
    /* background-color: rgba(0,0,0,.5); */
}
.wq-banner-page .wq-breadcrump p a{
	padding-right: 5px;
	display: block;
}
.wq-banner-page .wq-breadcrump p{
	font-size: 15px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.wq-banner-page .wq-breadcrump p:before{
	width: 40px;
	margin-right: 10px;
	content: '';
	display: block;
	background:#ffc600;
	height: 4px;
}
