.wq-header .wq-menu-principal > ul > li:nth-child(4) a{
	color: #ffc600;
}
.wq-header .wq-menu-principal > ul > li:nth-child(1) a{
	color: #fff;
}

.wq-01{
	height: 140px;
}
.wq-02-quem-somos{
	padding: 50px 0!important;
}
/*wq-02-customize*/
.wq-02-customize{
	padding: 70px 0 60px;
	position: relative;
}
.wq-02-customize:after{
	position: absolute;
	content: '';
	background:#252525;
	width: 50%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	left: 0;
	top: 0;
}
.wq-02-customize:before{
	position: absolute;
	content: '';
	background-color:#e1e1e1;
	width: 50%;
	height: 100%;
	right: 0;
	top: 0;
}
.wq-02-customize .wq-container{
	position: relative;
	z-index: 3;
}
.wq-02-customize .wq-box_6 p{
	color: #fff;
	font-size: 21px;
	max-width: 80%;
	margin-bottom: 10px;
}
.wq-02-customize .wq-box_6 .wq-titulo_1{
	max-width: 500px;
}
.wq-02-customize .wq-box_6 .wq-titulo_1 h2{
	color: #ffc600;
}
.wq-02-customize .wq-box_6 .wq-titulo_1 h2:after{
	background:#fff;
}
.wq-02-customize .wq-box_6 form{
	padding: 40px;
}
.wq-02-customize .wq-box_6 form button{
	margin-top: 0;
	display: block;
	margin:0 0 0 auto;
	padding: 20px 40px;
}
.wq-02-customize .wq-box_6 form input,
.wq-02-customize .wq-box_6 form select{
	width: calc(100% - 40px);
	padding: 20px;
	font-size: 18px;
	color: #252525;
	border: none;
	margin-bottom: 1rem;
	-webkit-appearance: none;
    border-radius: 0px;
}
.wq-02-customize .wq-box_6 form select{
	width: 100%;
	color: #777;
}

/*wq-02-quem-somos*/
.wq-02-quem-somos{
	padding-bottom: 75px;
}
.wq-02-quem-somos figure{
	width: 70px;
	height: 70px;
}
.wq-02-quem-somos figure img{
	height: auto;
}
.wq-02-quem-somos .wq-box_4f .wq-flex .wq-conteudo{
	padding-left: 20px;
}

.wq-02-quem-somos .wq-box_4f .wq-flex .wq-conteudo h2{
	font-size: 40px;
	text-transform: uppercase;
	color: #231f20;
	line-height: 1;
}
.wq-02-quem-somos .wq-box_4f .wq-flex .wq-conteudo p{
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1;
}


.wq-02-quem-somos .wq-box_4f .wq-flex{
	padding:0 50px;
	justify-content: center;
	border:1px solid #e1e1e1;
	margin-right: 0;
	align-items: center;
	margin-left: 0;
	min-height: 180px;
}
.wq-02-quem-somos .wq-box_4f:nth-child(1) .wq-flex,.wq-02-quem-somos .wq-box_4f:nth-child(2) .wq-flex{
	border-right: none;
}