.wq-header .wq-menu-principal > ul > li:nth-child(2) a{
	color: #ffc600;
}
.wq-header .wq-menu-principal > ul > li:nth-child(1) a{
	color: #fff;
}

.wq-01-quem-somos{
	padding: 90px 0 45px;
}

.wq-01-quem-somos .wq-box_6 figure{
	padding-right: 25px;
}
.wq-01-quem-somos .wq-box_6 div{
	padding-left: 25px;
	padding-top: 15px;
}

.wq-01-quem-somos .wq-box_6 p{
	color: #252525;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 15px;
}
.wq-01-quem-somos .wq-box_6 h1{
	margin-bottom: 10px;
	color: #252525;
	text-transform: uppercase;
	font-size: 26px;
}

/*wq-02-quem-somos*/
.wq-02-quem-somos{
	padding: 45px 0 80px;
}
.wq-02-quem-somos figure{
	width: 70px;
	height: 70px;
}
.wq-02-quem-somos figure img{
	height: auto;
}
.wq-02-quem-somos .wq-box_4f .wq-flex .wq-conteudo{
	padding-left: 20px;
}

.wq-02-quem-somos .wq-box_4f .wq-flex .wq-conteudo h2{
	font-size: 40px;
	text-transform: uppercase;
	color: #231f20;
	line-height: 1;
}
.wq-02-quem-somos .wq-box_4f .wq-flex .wq-conteudo p{
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1;
}


.wq-02-quem-somos .wq-box_4f .wq-flex{
	padding:0 50px;
	justify-content: center;
	border:1px solid #e1e1e1;
	margin-right: 0;
	align-items: center;
	margin-left: 0;
	min-height: 180px;
}
.wq-02-quem-somos .wq-box_4f:nth-child(1) .wq-flex,.wq-02-quem-somos .wq-box_4f:nth-child(2) .wq-flex{
	border-right: none;
}